
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

// VARIABLES
$font-base: 'Quicksand', sans-serif;
$body-font-size: 18px;
$h1-font-size: 2.8em;
$h2-font-size: 2.4em;

$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-light: 300;

$h1-font-color: #0A192F;
$h2-font-color: #0A192F;
$h3-font-color: #0A192F;
$white-smoke: #f2f2f2;
$dark-mode-color: #0A192F;
$main-color: #60E8CF;
$border-color: #0A192F;
$button-color: #0A192F;

$small-font-size: 14px;
$link-font-size: 16px;

@mixin transition-effect {
	transition: all 0.4s ease;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #F2F2F2;
	font-family: $font-base;
	padding-top: 70px;
}

.full-screen {
	padding: 8rem 0;
}

.small-text {
    // color: $body-font-color;
    font-size: $small-font-size;
    font-weight: $font-weight-bold;
    border-radius: 50px;
    letter-spacing: 0.2px;
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}

a {
	font-size: $link-font-size;
	font-weight: $font-weight-normal;
	text-decoration: none !important;
	@include transition-effect;
	&:hover {
		color: $main-color;
	}
}
  

.navbar-brand p {
	color: $dark-mode-color !important;
	font-weight: 600 !important;
}

.navbar-brand p:hover {
	color: $main-color !important;
}

// TYPOGRAPHY
p {
	font-size: $body-font-size;
	font-weight: $font-weight-light;
	line-height: 1.5;
	color: $dark-mode-color;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: $font-weight-bold;
	letter-spacing: -1px;
}

h1 {
	color: $h1-font-color;
	font-size: $h1-font-size;
	margin: 0;
}

h2 {
	color: $h2-font-color;
	font-size: $h2-font-size;
	font-weight: $font-weight-bold;
}

h3 {
	color: $h3-font-color;
}

h3,
b, strong {
	font-weight: $font-weight-bold;
}

// ANIMATED TEXT
.animated {
    position: relative;
}

.animated-info {
	font-family: $font-base;
	font-weight: 300;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
	margin-bottom: 25px;
    width: 250px;
    position: relative;
	white-space: nowrap;
}

.animated-item {
	color: $main-color;
}

.animated-item {
    font-size: 40px;
    line-height: inherit;
    display: block;
    opacity: 0;
    overflow: visible;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    animation: BottomTotop 6s linear infinite 0s;
    &:nth-child(2n+2) {
        animation-delay: 2s;
    }
    &:nth-child(3n+3) {
        animation-delay: 4s;
    }
}

@keyframes BottomTotop {
    0% { opacity: 0; }
    5% { opacity: 0; transform: translateY(5px); }
    10% { opacity: 1; transform: translateY(0px); }
    25% { opacity: 1; transform: translateY(0px); }
    30% { opacity: 0; transform: translateY(5px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}


// MENU
.navbar {
	color: $dark-mode-color !important;
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    will-change: transform;
    transition: transform 200ms linear;
	&[class*="-unpinned"] {
      transform: translate(0, -150%);
    }

    &[class*="-pinned"] {
      transform: translate(0, 0);
    }
    &[class*="headroom--not-top"] {
    	background: $white-smoke;
    	// box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
    	border-bottom: 1px solid #f0f0f0;
    	padding-top: 0;
    	padding-bottom: 0;
    }
}

// .navbar-nav li a {
// 	color: $dark-mode-color !important;
// }
// .navbar-nav li a:hover {
// 	color: $main-color !important;
// }

.navbar-brand {
	font-weight: $font-weight-bold;
}

.navbar-expand-sm {
	.navbar-nav {
		.nav-link {
			padding: 0 20px;
		}
	}
}

.nav-link {
	font-weight: $font-weight-bold;
	font-size: 16px;
	overflow: hidden;
	span {
    	position: relative;
		display: inline-block;
		transition: transform 0.3s;
		&:before {
			position: absolute;
			top: 100%;
			content: attr(data-hover);
			transform: translate3d(0,0,0);
		}
    }
}

.navbar-light {
	.navbar-nav {
		.nav-link{
			color: $dark-mode-color;
		}
		.nav-link:focus,
		.nav-link:hover {
			color: $main-color;
			font-weight: $font-weight-bold;
			span {
	    		transform: translateY(-100%);
	    	}
		}
	}
} 


// HAMBURGER MENU
.navbar-light {
	.navbar-toggler-icon {
		background: none;
	}
}

.navbar-toggler {
	border: 0;
	padding: 0;
	width: 32px;
	height: 32px;
	line-height: 32px;
	outline: none;
	cursor: pointer;
	margin-right: 10px;
	&:focus {
		outline: none;
	}
	&[aria-expanded="true"] {
		.navbar-toggler-icon {
			&:first-child {
				transform: rotate(45deg);
				top: 6px;
			}
			&:nth-child(2) {
				display: none;
			}
			&:last-child {
				transform: rotate(-45deg);
				bottom: 1px;
			}
		}
	}
	.navbar-toggler-icon {
		background: $h1-font-color;
		display: block;
		width: 100%;
		height: 2px;
		margin: 5px 0;
		@include transition-effect;
		position: relative;
	}
}

/* Override Bootstrap styles for list group */
.list-group-item {
	background-color: $white-smoke;
	color: $main-color;
	border: none;
	font-weight: bold;
  }
  
  .list-group-item:hover {
	background-color: $main-color;
	color: $white-smoke;
  }
  
  .list-group-item.active {
	background-color: $white-smoke; 
	color: $main-color;
	border-left: 5px solid $main-color; 
    transition: border-color 0s ease-out 0.3s,
  }

  .job-title {
	font-weight: 600;
  }

  .dates-worked {
	color: $dark-mode-color;
	font-size: 14px;
	font-weight: 600;
	margin-top: 5px;
  }

  .un-link {
	font-size: 18px;
	display: inline-block;
	color: $main-color;
	padding-bottom:2px;
	background-image: linear-gradient($main-color 0 0);
	background-position: 0 100%; /*OR bottom left*/
	background-size: 0% 2px;
	background-repeat: no-repeat;
	transition:
	  background-size 0.3s,
	  background-position 0s 0.3s; /*change after the size immediately*/
  }
  
  .un-link:hover{
	background-position: 100% 100%; /*OR bottom right*/
	background-size: 100% 2px;
  }
  
  .job-tasks li {
	color: $dark-mode-color;
	display: list-item;
	list-style-image: url('/images/checkmark-dark.svg') !important;
  }

// 	p {
// 	color: $dark-mode-color !important;
//   }
  .tasks {
	color: $dark-mode-color !important;
	line-height: 1.5;
  }

// COPYRIGHT TEXT
.copyright-text {
	font-size: 16px;
	font-weight: $font-weight-normal;
	display: block;
	color:#111;
	// margin-top: 10rem;
}

// COLOR MODE
.color-mode {
	font-weight: $font-weight-bold;
	cursor: pointer;
}

.back p {
	color: $dark-mode-color;
}

.dark-mode {
	background: $dark-mode-color;
	.navbar-light .navbar-nav .nav-link {
		color: rgba(255,255,255,0.8);
		&:hover {
			color: $main-color;
		}
	}
	.navbar {
		&[class*="headroom--not-top"] {
			background: $dark-mode-color;
			border-bottom: 1px solid $dark-mode-color;
	    }
	}
	.navbar-brand p {
		color: $white-smoke !important;
		font-weight: 600 !important;
	}
	
	.navbar-brand p:hover {
		color: $main-color !important;
	}
	.small-text {
		background: $dark-mode-color;
		color: $white-smoke;
	}
	.feature-card .uil,
	.navbar-light .navbar-brand,
	h1, h2, h3, h4, h5, h6,
	.color-mode {
		color: $white-smoke;
	}
	.owl-carousel {
		.owl-nav button.owl-next,
		.owl-nav button.owl-prev,
		button.owl-dot {
			color: $white-smoke;
		}
	}
	.front, .back {
		background-color: $dark-mode-color;
	}
	.back p {
		color: $white-smoke;
	}
	.card {
		border-color: $main-color;
	}
	.copyright-text {
		color: #fff;
	}

	.list-group-item {
		background-color: $dark-mode-color;
		color: $main-color;
		border: none;
		font-weight: bold;
	  }
	  
	  .list-group-item:hover {
		background-color: $main-color;
		color: $white-smoke;
	  }
	  
	  .list-group-item.active {
		background-color: $dark-mode-color; 
		color: $main-color;
		border-left: 5px solid $main-color; 
		transition: border-color 0s ease-out 0.3s,
	  }
	
	  .dates-worked {
		color: $white-smoke;
		font-size: 14px;
		font-weight: 600;
		margin-top: 5px;
	  }
	
	  .un-link {
		font-size: 18px;
		display: inline-block;
		color: $main-color;
		padding-bottom:2px;
		background-image: linear-gradient($main-color 0 0);
		background-position: 0 100%; /*OR bottom left*/
		background-size: 0% 2px;
		background-repeat: no-repeat;
		transition:
		  background-size 0.3s,
		  background-position 0s 0.3s; /*change after the size immediately*/
	  }
	  
	  .un-link:hover{
		background-position: 100% 100%; /*OR bottom right*/
		background-size: 100% 2px;
	  }
	  
	  .job-tasks li {
		display: list-item;
		list-style-image: url('/images/checkmark-light.svg') !important;
		color: $white-smoke;
	  }

	  .tasks {
		color: $white-smoke !important;
	  }

		.navbar-toggler-icon {
			background: $white-smoke;
		}	
	
}
// CONTACT FORM
.contact-form {
	border-color: $main-color;
	position: relative;
	.form-control {
		background: transparent;
		border-radius: 2px;
		outline: none;
		box-shadow: none;
		font-weight: $font-weight-bold;
		margin: 16px 0;
		&:not(textarea) {
			height: 48px;
		}
		&:focus {
			border-color: $main-color;
		}
		&:hover {
			border-color: $main-color;
		}
	}
	 .submit-btn:hover {
		background-color: $main-color;
	 }
}

.contact-info {
	background: $button-color;
	border-radius: 0 0 3px 3px;
	position: relative;
	bottom: 8px;
	p, a {
		color: #f7f3f3;
	}
}

.get-in-touch {
	text-decoration: underline;
}


// SOCIAL LINKS
.social-links {
	.uil {
		color: #f7f3f3;
		font-size: 20px;
		display: block;
		margin: 5px 0;
		&:hover {
			color: $main-color;
		}
	}
}

img {
	display: block;
	width: 100%;
  }
  
  .card-container {
	perspective: 1000;
	margin: 0 auto 50px;
	width: 400px;
  }
  
  .front, .back {
	background-color: $white-smoke;
	backface-visibility: hidden;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	padding: 30px;
	box-sizing: border-box;
	transition-delay: 0.15s;
	transition: 0;
  }
  
  .front {
	transform: rotateY(0deg);
  }
  
  .back {
	transform: rotateY(180deg);
	opacity: 0;
	padding-top: 60px;
	backface-visibility: visible;
  }
  
  .card {
	border: 3px solid $main-color;
	border-radius: 5px;
	position: relative;
	width: 400px;
	height: 450px;
	background: white;
	border-radius: 5px;
	box-shadow: 0 40px 110px rgba(0, 0, 0, 0.45);
	overflow: hidden;
	transition: 0.5s;
	transform-style: preserve-3d;
  }
  .card:hover {
	transform: rotateY(180deg);
  }
  .card:hover .front {
	opacity: 0;
  }
  .card:hover .back {
	opacity: 1;
  }
  
  .sub-title {
	color: #333741;
	animation: slide-in 0.75s;
	animation: slide-in 0.75s cubic-bezier(0.625, 0.075, 0.11, 1.165);
	animation-timing-function: cubic-bezier(0.625, 0.075, 0.11, 1.165);
	font-size: 18px;
	font-weight: 200;
	margin: 0 0 5px 0;
  }
  
  .title {
	color: #333741;
	animation: slide-in-slow 0.75s;
	animation: slide-in-slow 0.75s cubic-bezier(0.625, 0.075, 0.11, 1.165);
	animation-timing-function: cubic-bezier(0.625, 0.075, 0.11, 1.165);
	font-size: 30px;
	font-weight: 600;
	margin: 0;
	margin-bottom: 10px;
  }
  
  .synopsis {
	color: #333741;
	font-size: 27px;
	font-weight: 600;
	margin: 0 0 15px;
  }
  
  .btn {
	border: 1px solid $main-color;
	border-radius: 5px;
	background: transparent;
	display: inline-block;
	font-size: 17px;
	padding: 8px 20px 9px 15px;
	color: $main-color;
	transition: 0.5s;
	margin: 0 2px 0;
	font-weight: 100;
  }
  .btn.secondary {
	border-color: $main-color;
	color: $main-color;
  }
  .btn.secondary:hover {
	background: $main-color;
	color: #fff;
  }
  .btn:hover {
	cursor: pointer;
	background: $main-color;
	color: #fff;
  }

  .btn i {
	margin: 0 5px 0;
  }
  
  .image {
	position: absolute;
	bottom: 0;
	left: 0;
	animation: slide-in-right 1.25s;
	animation: slide-in-right 1.25s cubic-bezier(0.625, 0.075, 0.11, 1.165);
	animation-timing-function: cubic-bezier(0.625, 0.075, 0.11, 1.165);
	font-size: 35px;
	font-weight: 600;
	margin: 0;
  }
  
  @keyframes slide-in {
	0% {
	  transform: translate3d(-300px, 0, 0);
	}
	100% {
	  transform: translate3d(0, 0, 0);
	}
  }
  @keyframes slide-in-slow {
	0% {
	  transform: translate3d(-300px, 0, 0);
	}
	20% {
	  transform: translate3d(-300px, 0, 0);
	}
	100% {
	  transform: translate3d(0, 0, 0);
	}
  }
  @keyframes slide-in-right {
	0% {
	  transform: translate3d(400px, 0, 0);
	}
	30% {
	  transform: translate3d(400px, 0, 0);
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	100% {
	  transform: translate3d(0, 0, 0);
	  opacity: 1;
	}
  }
  .project-spacing {
	padding: 15px;
  }
  
  .checkbox {
	opacity: 0;
	position: absolute;
  }
  
  .label {
	background-color: $dark-mode-color;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
  }
  
  .label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .label .ball {
	transform: translateX(24px);
  }
  
  .checkbox:checked + .label {
	background-color: $main-color;
  }
  
  .fa-moon {
	color: #2F5E9E;
  }
  
  .fa-sun {
	color: #f39c12;
  }
  
  @media (max-width: 580px) {
	.btn {
	  text-align: center;
	}
	.btn {
	  display: block;
	  margin: 10px 0;
	}
  }
  .social-icons {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	margin: 0;
	padding: 0;
  }
  
  .social-icons ul li {
	list-style: none;
	margin: 0 5px;
	padding: 1rem;
  }
  
  .social-icons li a .fas {
	font-size: 40px;
	color: #262626;
	line-height: 80px;
	transition: 0.5s;
	padding-right: 14px;
  }
  
  .social-icons li a span {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 30px;
	color: #262626;
	letter-spacing: 4px;
	transition: 0.5s;
  }
  
  .social-icons li a {
	text-decoration: none;
	display: absolute;
	display: block;
	width: 210px;
	height: 80px;
	background: #fff;
	text-align: left;
	padding-left: 20px;
	transform: rotate(-30deg) skew(25deg) translate(0, 0);
	transition: 0.5s;
	box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
  }
  
  .social-icons li a:before {
	content: "";
	position: absolute;
	top: 10px;
	left: -20px;
	height: 100%;
	width: 20px;
	background: #b1b1b1;
	transform: 0.5s;
	transform: rotate(0deg) skewY(-45deg);
  }
  
  .social-icons li a:after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: -10px;
	height: 20px;
	width: 100%;
	background: #b1b1b1;
	transform: 0.5s;
	transform: rotate(0deg) skewX(-45deg);
  }
  
  .social-icons li a:hover {
	transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
	box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
  }
  
  .social-icons li:hover .fa {
	color: #fff;
  }
  
  .social-icons li:hover span {
	color: #fff;
  }
  
  .social-icons li:hover:nth-child(1) a {
	background: #1D9BF0;
  }
  
  .social-icons li:hover:nth-child(1) a:before {
	background: #1D9BF0;
  }
  
  .social-icons li:hover:nth-child(1) a:after {
	background: #1D9BF0;
  }
  
  .social-icons li:hover:nth-child(2) a {
	background: #78268E;
  }
  
  .social-icons li:hover:nth-child(2) a:before {
	background: #78268E;
  }
  
  .social-icons li:hover:nth-child(2) a:after {
	background: #78268E;
  }
  
  .social-icons li:hover:nth-child(3) a {
	background: #0A66C2;
  }
  
  .social-icons li:hover:nth-child(3) a:before {
	background: #0A66C2;
  }
  
  .social-icons li:hover:nth-child(3) a:after {
	background: #0A66C2;
  }
  
  .social-icons li:hover:nth-child(4) a {
	background: #e4405f;
  }
  
  .social-icons li:hover:nth-child(4) a:before {
	background: #d81c3f;
  }
  
  .social-icons li:hover:nth-child(4) a:after {
	background: #e46880;
  }

  // scroll to top arrow
.arrow-wrapper {
	position: fixed;
	bottom: 40px;
	right:40px;
	width:40px;
	margin-right: 1rem;
}

.arrow-up {
	height: 40px;
	width: 42px;
	display: block;
	border: 1px solid $main-color;
	position: relative;
	cursor: pointer;
	transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
	overflow: hidden;
  }
  
  .arrow-slide {
	left: 0;
	top: -100%;
	width: 100%;
	height: 100%;
	background: $main-color;
	position: absolute;
	display: block;
	z-index: 0;
  }
  
  .left-arm {
	position: absolute;
	z-index: 1;
	background-color: transparent;
	top: 19px;
	left: 3px;
	width: 20px;
	display: block;
	transform: rotate(-45deg);
	&:after {
	  content: "";
	  background-color: $main-color;
	  width: 20px;
	  height: 1px;
	  display: block;
	  border-radius: 1px;
	  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
	  transform-origin: right center;
	  z-index: -1;
	}
  }
  
  .right-arm {
	position: absolute;
	z-index: 1;
	background-color: transparent;
	top: 19px;
	left: 17px;
	width: 20px;
	display: block;
	transform: rotate(45deg);
	border-radius: 2px;
	&:after {
	  content: "";
	  background-color: $main-color;
	  width: 20px;
	  height: 1px;
	  display: block;
	  border-radius: 1px;
	  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
	  transform-origin: left center;
	  z-index: -1;
	}
  }
  
  .arrow-up:hover {
	transition: all .1s;
	.left-arm:after {
	  transform: rotate(-10deg);
	}
	.right-arm:after {
	  transform: rotate(10deg);
	}
	.arrow-slide {
	  transition: all .4s ease-in-out;
	  transform: translateY(200%);
	}
  }
  

// RESPONSIVE STYLES
@media (min-width: 1270px) {
	.owl-theme {
		.owl-dots {
			position: relative;
			bottom: 50px;
		}
	}
}


@media (max-width: 991px) {
	.full-screen {
		padding-bottom: 4rem;
	}

	.color-mode {
		display: none;
	}

	.about-image {
		margin-top: 4em;
	}

	.mobile-mt-2,
	.contact-form {
		margin-top: 2em;
	}

	.contact-info {
		padding: 0 2rem;
	}
}


@media (max-width: 767px) {

	h1 {
		font-size: 2.4em;
	}

	h2 {
		font-size: 2em;
	}

	.animated-item {
		font-size: 28px;
	}

	.navbar-collapse {
		background: $white-smoke;
		text-align: center;
		padding-bottom: 20px;
	}

	.navbar-expand-sm .navbar-nav .nav-link {
		padding: 3px 20px;
	}
	.social-icons {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-height: 10vh;
	}
	.copyright-text {
		margin-top: 33rem;
	}
}


@media (max-width: 580px) {

	.animated-item {
		font-size: 24px;
	}

	// .custom-btn-group {
	// 	text-align: center;
	// }

	// .custom-btn {
	// 	display: block;
	// 	margin: 10px 0;
	// }

	.owl-theme .owl-nav {
		display: none;
	}

	.timeline-info small {
		display: block;
		margin: 10px 0 0 0;
	}
	.social-icons {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-height: 10vh;
	}
	.copyright-text {
		margin-top: 33rem;
	}
}


@media (max-width: 320px) {

	.animated-text {
		margin-top: 0;
	}

	.about-text {
		text-align: center;
	}

	.full-screen {
		padding: 4rem 0;
	}

	.mobile-block {
		display: block;
	}

	.contact-info {
		flex-direction: column;
	}

	.social-links {
		li {
			display: inline-block;
			vertical-align: top;
		}
	}
}

 .about-image {
	 border: 3px solid #474559;
	 border-radius: 10px;
	}
	.img-fluid {
		width: 300px;
 	}

	 .social-list-items {
		padding: 1.5rem;
	}

