@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: "Maven Pro", sans-serif;
  padding-top: 70px;
}

.full-screen {
  padding: 8rem 0;
}

.small-text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  font-size: 16px;
  font-weight: normal;
  text-decoration: none !important;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

a:hover {
  color: #39FF54;
}

.navbar-brand .uil {
  font-size: 40px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #212121;
  font-size: 2.8em;
  margin: 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b, strong {
  font-weight: bold;
}

.animated {
  position: relative;
}

.animated-info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 25px;
  width: 250px;
  position: relative;
  white-space: nowrap;
}

.animated-item {
  color: #39FF54;
}

.animated-item {
  font-size: 40px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: visible;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  -webkit-animation: BottomTotop 6s linear infinite 0s;
          animation: BottomTotop 6s linear infinite 0s;
}

.animated-item:nth-child(2n+2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.animated-item:nth-child(3n+3) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  will-change: transform;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.navbar[class*="-unpinned"] {
  -webkit-transform: translate(0, -150%);
          transform: translate(0, -150%);
}

.navbar[class*="-pinned"] {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.navbar[class*="headroom--not-top"] {
  background: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 20px;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}

.nav-link span {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #39FF54;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
  background: none;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 6px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
  display: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 1px;
}

.navbar-toggler .navbar-toggler-icon {
  background: #212121;
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
}

.copyright-text {
  font-size: 16px;
  font-weight: normal;
  display: block;
  color: #111;
  margin-top: 10rem;
}

.color-mode {
  font-weight: bold;
  cursor: pointer;
}

.color-mode-icon {
  position: relative;
  right: 6px;
}

.color-mode-icon:after {
  font-family: 'unicons';
  content: '\ea9f';
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
}

.color-mode-icon.active:after {
  font-family: 'unicons';
  content: '\eb65';
  font-size: 30px;
  color: #ffffff;
}

.dark-mode {
  background: #0c0c0d;
}

.dark-mode .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.dark-mode .navbar-light .navbar-nav .nav-link:hover {
  color: #39FF54;
}

.dark-mode .navbar[class*="headroom--not-top"] {
  background: #0c0c0d;
  border-bottom: 1px solid #1f1f1f;
}

.dark-mode .small-text {
  background: #0d0c15;
  color: #ffffff;
}

.dark-mode .feature-card .uil,
.dark-mode .navbar-light .navbar-brand,
.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6,
.dark-mode .color-mode {
  color: #ffffff;
}

.dark-mode .owl-carousel .owl-nav button.owl-next,
.dark-mode .owl-carousel .owl-nav button.owl-prev,
.dark-mode .owl-carousel button.owl-dot {
  color: #ffffff;
}

.dark-mode .front, .dark-mode .back {
  background-color: #0c0c0d;
}

.dark-mode .card {
  border-color: #39FF54;
}

.dark-mode .copyright-text {
  color: #fff;
}

.contact-form {
  border-color: #39FC54;
  position: relative;
}

.contact-form .form-control {
  background: transparent;
  border-radius: 2px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: bold;
  margin: 16px 0;
}

.contact-form .form-control:not(textarea) {
  height: 48px;
}

.contact-form .form-control:hover .contact-form .form-control:focus {
  border-color: #39FC54;
}

.contact-form .submit-btn:hover {
  background-color: #39FC54;
}

.contact-info {
  background: #474559;
  border-radius: 0 0 3px 3px;
  position: relative;
  bottom: 8px;
}

.contact-info p, .contact-info a {
  color: #f7f3f3;
}

.social-links .uil {
  color: #f7f3f3;
  font-size: 20px;
  display: block;
  margin: 5px 0;
}

.social-links .uil:hover {
  color: #39FF54;
}

@media (min-width: 1270px) {
  .owl-theme .owl-dots {
    position: relative;
    bottom: 50px;
  }
}

@media (max-width: 991px) {
  .full-screen {
    padding-bottom: 4rem;
  }
  .color-mode {
    display: none;
  }
  .about-image {
    margin-top: 4em;
  }
  .mobile-mt-2,
  .contact-form {
    margin-top: 2em;
  }
  .contact-info {
    padding: 0 2rem;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.4em;
  }
  h2 {
    font-size: 2em;
  }
  .animated-item {
    font-size: 28px;
  }
  .navbar-collapse {
    background: #ffffff;
    text-align: center;
    padding-bottom: 20px;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding: 3px 20px;
  }
  .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-height: 10vh;
  }
  .copyright-text {
    margin-top: 33rem;
  }
}

@media (max-width: 580px) {
  .animated-item {
    font-size: 24px;
  }
  .owl-theme .owl-nav {
    display: none;
  }
  .timeline-info small {
    display: block;
    margin: 10px 0 0 0;
  }
  .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-height: 10vh;
  }
  .copyright-text {
    margin-top: 30rem;
  }
}

@media (max-width: 320px) {
  .animated-text {
    margin-top: 0;
  }
  .about-text {
    text-align: center;
  }
  .full-screen {
    padding: 4rem 0;
  }
  .mobile-block {
    display: block;
  }
  .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social-links li {
    display: inline-block;
    vertical-align: top;
  }
}

.about-image {
  border: 3px solid #474559;
  border-radius: 10px;
}

.img-fluid {
  width: 300px;
}

.social-list-items {
  padding: 1.5rem;
}
/*# sourceMappingURL=style.css.map */